
@{
    var rowno1 = 0;
    var rowno2 = 0;
    var userInfo = Session["loginUser"] as FMHJJService.Model.CustomModel.FMHJJ.UserInfoCacheModel;
}

<div class="table-responsive">

    <table border="1" style="width:100%;" bordercolor="#ccc" cellpadding="5" cellspacing="0" class="table table-width table-bordered table-condensed table-hover">
        <caption>
            <label class="control-label" style="float:left;">客户成交统计（@ViewBag.bidDate）</label>
        </caption>
        <thead>
            <tr style="background: #C7D9EF;">
                <th>产品</th>
                @if (userInfo.UserType != (int)FMHJJService.Common.Enum.UserType.Customer)
                {
                    <th>排名</th>
                } 
                <th>等级</th>
                <th>单位信息</th>
                <th>是否入围</th>
                <th>客户成交总量（吨）</th>
                <th>客户加权平均成交价</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in (ViewBag.flw_BiddingInfoList as List<FMHJJService.Model.CustomModel.FMHJJ.FinalBiddingInfoModel>).GroupBy(g => g.UserID)
                            .Select(o => new
                            {
                                UserID = o.Key,
                                BiddingInfo = o.OrderByDescending(r => r.BidPrice).OrderByDescending(r => r.BidAmount).ThenBy(r => r.BidTime).First(),
                                TotalAmount = Math.Round((decimal)o.Sum(m => m.DealAmount), 2, MidpointRounding.AwayFromZero),
                                AvgPrice = Math.Round((decimal)(o.Sum(m => m.DealPrice * m.DealAmount) / o.Sum(m => m.DealAmount)), 2, MidpointRounding.AwayFromZero)
                            }).OrderByDescending(r => r.BiddingInfo.BidPrice).ThenByDescending(r => r.BiddingInfo.BidAmount).ThenBy(r => r.BiddingInfo.BidTime).ToList())
        {
            rowno1++;
            if (userInfo.UserType == (int)FMHJJService.Common.Enum.UserType.Customer && (userInfo.UserLvl == null || userInfo.UserLvl <= 0 || item.UserID != userInfo.ID))
            {
                continue;
            }
        <tr>
            <td>@ViewBag.productName</td>
            @if (userInfo.UserType != (int)FMHJJService.Common.Enum.UserType.Customer)
            {
                <td>@rowno1</td>
            }
            <td>@FMHJJService.Business.FMHJJ.UserBusiness.GetUserLvl(item.UserID)</td>
            <td>@FMHJJService.Business.FMHJJ.UserBusiness.GetUser(item.UserID).CompanyName</td>
            <td><font color="red">入围</font></td>
            <td>@item.TotalAmount</td>
            <td>@item.AvgPrice</td>
        </tr>
        }
        </tbody>
    </table>

    <table border="1" style="width:100%;" bordercolor="#ccc" cellpadding="5" cellspacing="0" class="table table-width table-bordered table-condensed table-hover">
        <caption>
            <label class="control-label" style="float:left;">申报详情（@ViewBag.bidDate）</label>
        </caption>
        <thead>
            <tr style="background: #C7D9EF;">
                <th>产品</th>
                @if (userInfo.UserType != (int)FMHJJService.Common.Enum.UserType.Customer)
                {
                    <th>排名</th>
                } 
                <th>等级</th>
                <th>单位信息</th>
                <th>申报价（元）</th>
                <th>申报量（吨）</th>
                <th>申报时间</th>
                <th>是否入围</th>
                <th>成交量（吨）</th>
                <th>成交价（元）</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.flw_BiddingInfoList)
        {
            rowno2++;
            if (userInfo.UserType == (int)FMHJJService.Common.Enum.UserType.Customer && (userInfo.UserLvl == null || userInfo.UserLvl <= 0 || item.UserID != userInfo.ID))
            {
                continue;
            }
        <tr>
            <td>@ViewBag.productName</td>
            @if (userInfo.UserType != (int)FMHJJService.Common.Enum.UserType.Customer)
            {
                <td>@rowno2</td>
            }
            <td>@FMHJJService.Business.FMHJJ.UserBusiness.GetUserLvl(item.UserID)</td>
            <td>@FMHJJService.Business.FMHJJ.UserBusiness.GetUser(item.UserID).CompanyName</td>
            <td>@item.BidPrice</td>
            <td>@item.BidAmount</td>
            <td>@string.Format("{0:yyyy-MM-dd HH:mm:ss}", item.BidTime)</td>
            <td><font color="red">入围</font></td>
            <td>@item.DealAmount</td>
            <td>@item.DealPrice</td>
        </tr>
        }
        </tbody>
    </table>

</div>

