@model List<FMHJJService.Model.FMHJJ.Data_BidManage>

@{
    ViewBag.Title = "竞价标的管理";
    var rowno = 0;
}

@section Styles
{
    <link href="~/Content/list.css" rel="stylesheet" />
}

@section Scripts
{
    <script src="~/Scripts/My97DatePicker/WdatePicker.js" type="text/javascript"></script>
}

@using (Html.BeginForm("Index", ViewContext.RouteData.GetRequiredString("controller"), new { id = "" }, FormMethod.Get, new { id = "searchForm", @class = "form-inline well well-sm" }))
{
<div class="container-fluid" style="padding-top:5px;">
    <div class="row-fluid">
        <div class="span12">
            <div class="control-group">
                <div class="controls">
                    <label class="control-label">产品类型</label>
                    @Html.DropDownListFor(model => new FMHJJService.Model.FMHJJ.Data_BidManage().ProductType, ViewBag.database_producttypes as IEnumerable<SelectListItem>, new { @onchange = "$('#searchForm').submit();", @class = "iptext v_m", @style = "width:150px;" })
                    <label class="control-label">竞价日期</label>
                    <input id="txtBegin_time" name="begin_time" class="iptext" style="width:150px;" onclick="laydate({ istime: false, format: 'YYYY-MM-DD', choose: function () { $('#searchForm').submit(); } })" value="@ViewData["begin_time"]" />
                    <label class="control-label">至</label>
                    <input id="txtEnd_time" name="end_time" class="iptext" style="width:150px;" onclick="laydate({ istime: false, format: 'YYYY-MM-DD', choose: function () { $('#searchForm').submit(); } })" value="@ViewData["end_time"]" />
                    <input id="btnSearch" type="submit" class="btn btn-default v_m" value="查询" />
                </div>
            </div>
        </div>
    </div>
</div>
}

<div>
    <table id="productInfoTable" class="table" style="text-align:center;">
        <thead>
            <tr>
                <th>
                    序号
                </th>
                <th>
                    产品类型
                </th>
                <th>
                    竞价日期
                </th>
                <th>
                    开始时间
                </th>
                <th>
                    结束时间
                </th>
                <th>
                    预估量（吨）
                </th>
                <th>
                    本期报价下限（元）
                </th>
                <th>
                    本期报价上限（元）
                </th>
                <th>
                    可申报单数
                </th>
                <th>
                    最小申报量（吨）
                </th>
                <th style="display:none;">
                    竞价方式
                </th>
                <th>
                    操作
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                rowno++;
                <tr>
                    <td>
                        @rowno
                    </td>
                    <td>
                        @Html.HiddenFor(modelItem => item.ProductType)
                        @(FMHJJService.Business.FMHJJ.ProductTypeBusiness.GetProductName(item.ProductType))
                    </td>
                    <td>
                        @Html.TextBox("item_BidDate", string.Format("{0:yyyy-MM-dd}", item.BidDate), new { @style = "width:100%;", @onclick = "WdatePicker({ lang: 'zh-cn', dateFmt: 'yyyy-MM-dd' });" })
                    </td>
                    <td>
                        @Html.TextBox("item_BidStartTime", string.Format("{0:HH:mm:ss}", item.BidStartTime), new { @style = "width:100%;", @onclick = "WdatePicker({ lang: 'zh-cn', dateFmt: 'HH:mm:ss' });" })                        
                    </td>
                    <td>
                        @Html.TextBox("item_BidEndTime", string.Format("{0:HH:mm:ss}", item.BidEndTime), new { @style = "width:100%;", @onclick = "WdatePicker({ lang: 'zh-cn', dateFmt: 'HH:mm:ss' });" })                                                
                    </td>
                    <td>@Html.EditorFor(modelItem => item.EstimateAmount, new { htmlAttributes = new { @id = "item_EstimateAmount", @style = "width:100%" } })</td>
                    <td>@Html.EditorFor(modelItem => item.CurrentPriceLower, new { htmlAttributes = new { @id = "item_CurrentPriceLower", @style = "width:100%" } })</td>
                    <td>@Html.EditorFor(modelItem => item.CurrentPriceUpper, new { htmlAttributes = new { @id = "item_CurrentPriceUpper", @style = "width:100%" } })</td>
                    <td>@Html.EditorFor(modelItem => item.BidCount, new { htmlAttributes = new { @id = "item_BidCount", @style = "width:100%" } })</td>
                    <td>@Html.EditorFor(modelItem => item.AmountMin, new { htmlAttributes = new { @id = "item_AmountMin", @style = "width:100%" } })</td>
                    <td style="display:none;">
                        @Html.RadioButtonFor(modelItem => Model[Model.IndexOf(item)].BidManner, 0, new { @id = "item_BidManner" }) 所有客户竞价
                        <br/>
                        @Html.RadioButtonFor(modelItem => Model[Model.IndexOf(item)].BidManner, 1, new { @id = "item_BidManner" }) 客户等级竞价
                    </td>
                    <td>
                        @Html.ActionLink("更新", "UpdateBid", new { id = item.ID }, new { @onclick = "layerConfirm('确认要更新竞价标的信息吗？', this); return false;" }) |
                        @Html.ActionLink("删除", "DeleteBid", new { id = item.ID }, new { @onclick = "layerConfirm('确认要删除竞价标的信息吗？', this); return false;" })
                    </td>
                </tr>                
            }

            <tr>
                <td>
                    @(++rowno)
                </td>
                <td>
                    @Html.Hidden("item_ProductType", ViewData["SelectedProductType"])                    
                    @FMHJJService.Business.FMHJJ.ProductTypeBusiness.GetProductName(Convert.ToInt32(ViewData["SelectedProductType"]))                     
                </td>
                <td>@Html.Editor("item_BidDate", new { htmlAttributes = new { @style = "width:100%;", @onclick = "WdatePicker({ lang: 'zh-cn', dateFmt: 'yyyy-MM-dd' });" } })</td>
                <td>
                    <input id="item_BidStartTime" type="text" style="width:100%;" onclick="WdatePicker({ lang: 'zh-cn', dateFmt: 'HH:mm:ss' });" value="@(FMHJJService.Business.FMHJJ.DataParameterBusiness.GetParameterValue("竞标开始时间"))" />                    
                </td>
                <td>
                    <input id="item_BidEndTime" type="text" style="width:100%;" onclick="WdatePicker({ lang: 'zh-cn', dateFmt: 'HH:mm:ss' });" value="@(FMHJJService.Business.FMHJJ.DataParameterBusiness.GetParameterValue("竞标结束时间"))" />
                </td>                    
                <td>@Html.Editor("item_EstimateAmount", new { htmlAttributes = new { @style = "width:100%" } })</td>
                <td>@Html.Editor("item_CurrentPriceLower", new { htmlAttributes = new { @style = "width:100%" } })</td>
                <td>@Html.Editor("item_CurrentPriceUpper", new { htmlAttributes = new { @style = "width:100%" } })</td>
                <td>
                    <input id="item_BidCount" type="text" style="width:100%;" value="@(FMHJJService.Business.FMHJJ.DataParameterBusiness.GetParameterValue("可申报单数"))" />
                </td>
                <td>
                    <input id="item_AmountMin" type="text" style="width:100%;" value="@(FMHJJService.Business.FMHJJ.DataParameterBusiness.GetParameterValue("最小申报量"))" />
                </td>
                <td style="display:none;">
                    <input id="item_BidManner" type="radio" name="item_BidManner" value="0" @(FMHJJService.Business.FMHJJ.DataParameterBusiness.GetParameterValue("竞价方式") == "0" ? "checked=checked" : string.Empty) /> 所有客户竞价
                    <br />
                    <input id="item_BidManner" type="radio" name="item_BidManner" value="1" @(FMHJJService.Business.FMHJJ.DataParameterBusiness.GetParameterValue("竞价方式") == "1" ? "checked=checked" : string.Empty) /> 客户等级竞价
                </td>
                <td>
                    @Html.ActionLink("添加竞价标的", "CreateBid", null, new { @onclick = "layerConfirm('确认要添加竞价标的信息吗？', this); return false;" })
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td style="text-align:left;" colspan="6">合计：@rowno</td>
            </tr>
        </tfoot>
    </table>
</div>

<script>
        $(function () {
            var errMsg = getParameter("errMsg");
            if (errMsg.length > 0) {
                top.layer.msg(errMsg);
            }
        });

        function layerConfirm(msg, t) {
            top.layer.confirm(msg, function (index) {
                var sibilings = $(t).parent().siblings();
                t.onclick = "";
                t.href = t.href + "?productType=" + $('#item_ProductType', sibilings).val() + "&bidDate=" + $('#item_BidDate', sibilings).val() +
                    "&bidStartTime=" + $('#item_BidStartTime', sibilings).val() + "&bidEndTime=" + $('#item_BidEndTime', sibilings).val() +
                    "&estimateAmount=" + $('#item_EstimateAmount', sibilings).val() + "&currentPriceLower=" + $('#item_CurrentPriceLower', sibilings).val() +
                    "&currentPriceUpper=" + $('#item_CurrentPriceUpper', sibilings).val() + "&bidCount=" + $('#item_BidCount', sibilings).val() +
                    "&amountMin=" + $('#item_AmountMin', sibilings).val() + "&bidManner=" + $('#item_BidManner:checked', sibilings).val();
                t.click();
                top.layer.close(index);
            });
        }
</script>



